* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px; 
}
body {
    background-image: url(Foto.webp);
    background-size: 100%;
    background-repeat: no-repeat;

    }
header {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;;
    font-size: 60%;
    background-color:rgba(0, 0, 0, 0.3);

}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu h2, .logo {
    padding: 0.7rem;
}
.menu h2:hover {
    background-color: black;
}
.Whatsapp, .Facebook, .Instagram {
    max-height: 30px;
}
.title {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin-top: 10%;
    width: 38%;
    height: 2rem;
    color: floralwhite;
    background-color:rgba(0, 0, 0, 0.7);
    font-family:Arial, Helvetica, sans-serif;
}

.description {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 38%;
    margin-top: 1%;
    font-size: 0.8rem;
    font-family:monospace;
    line-height: 85%;
    padding: 1%;
    padding-left: 1%;
}
.youtube {
    max-height: 8rem;
    padding-top: 4%;
    padding-left: 13%;
}
.iconos {
    display: flex;
    justify-content: flex-end;
    padding-top: 9%;
    padding-right: 1%;
}